* {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-wrap: break-word;
}
.sans {
	
}
.arial {
	font-family: 'Arial', sans-serif;
}
body {
	font-family: 'Lato', sans-serif;
	background-color: white;
	height: 100vh;
}

#entire {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
#main {
	flex: 1 1;
	display: flex;
	flex-direction: row;
	width: 100%;
	bacground: #FFFFFF;
}
#sidebar {
	flex: 1 0 200px;
	background: rgb(164, 148, 205);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 8px;
}
.side_element {
	flex: 1 1 40px;
	font-family: Arial;
	padding-bottom: 16px;
}
.side_element > b {
	font-family: 'Lato', sans-serif;
}

#content {
	flex: 1 1 100%;
	padding: 8px;
}
#navbar {
	flex: 1 0 200px;
	background: rgb(164, 148, 205);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 8px;
}
#footer {
	flex: 1 0 150px;
	width: 100%;
	min-height: 150px;
	background-color: rgb(70, 57, 108);
	color: #FFFFFF;
	font-size: 200%;
	padding: 16px;
}
#header {
	flex: 1 1 232px;
	background-color: green;
	width: 100%;
	display: flex;
	flex-direction: column;
}
#header_top {
	flex: 1 1 16px;
	background-color: rgb(70, 57, 108);
}
#header_main {
	flex: 1 1 200px;
	background-image: url("tile.png");
	background-repeat: repeat;
	text-align: center;
	line-height: 200px;
}
#header_main > b {
	font-size: 500%;
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px 20px #000000;
}
#header_bottom {
	flex: 1 1 16px;
	background-color: rgb(70, 57, 108);
}

@media screen and (max-width: 980px) {
	#main {
		flex-direction: column;
	}
	#sidebar {
		flex: initial;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
	}
	#navbar {
		flex: initial;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: stretch;
	}
	.side_element {
		flex: 1 1 auto;
		padding: 8px;
	}
}
.center {
	width: 100%;
	text-align: center;
}