* {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 100%;
	overflow-wrap: break-word;
}
.sans {
	font-family: 'Lato', sans-serif;
}
.arial {
	font-family: 'Arial', sans-serif;
}
body {
	background: #444444;
	font-family: Georgia, serif;
}
#header {
	display: flex;
	min-height: 600px;
	flex-direction: row;
}

#header_white {
	flex: 1 1;
	background: #FFF;
	text-align: center;
	padding-top: 200px;
}

#header_img {
	flex: 0 0 1300px;
	background: #DDDDDD;
	background-image: url("header_img.jpg");
	background-size: 100% 100%;
}

.vw4 {
	font-size: 4vw;
}

.vw2 {
	font-size: 2vw;
}
.vw15 {
	font-size: 1.5vw;
}
#content {
	background: #FFF;
}

.flex_3 {
	display: flex;
}
.flex_3_col {
	display: flex;
}
.col_3 {
	flex: 1 1 33%;
	text-align: center;
}
.rel_50 {
	position: relative;
	bottom: 50px;
}
.review {
	width: 100%;
	background: #161616;
	color: #FFF;
	margin-top: 32px;
	min-height: 750px;
	padding: 32px;
	line-height: 150%;
	font-size: 125%;
	border-left: 16px solid #FFF;
	border-right: 16px solid #FFF;
}

.review > hr {
	 height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

#footer {
	padding: 32px;
	background: #161616;
	color: #FFF;
	display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between;
}

img.icon {
	width:200px; 
	position: relative; 
	bottom: 75px
}
@media screen and (max-width: 1600px) {
	#header {
		flex-direction: column;
	}
	#header_img {
		flex: 1 1 50vw;
	}
	#header_white {
		padding: 64px;
	}
	img.icon {
		width: 14vw;
	}
	.flex_3_col {
		flex-direction: column;
	}
	.vw2 {
		font-size: 32px;
	}
	.vw4 {
		font-size: 64px;
	}
	.review {
		min-height: unset;
	}
	#reklama {
		width: 45vw;
	}
}