*,*:before,*:after {
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-wrap: break-word;
	font-family: sans-serif;
}
#container {
	width: 100vw;
	max-width: 1250px;
	height: 60vh;
	margin: auto;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: flex-start;
	align-content: space-evenly;
	flex-wrap: wrap;
}
img {
	flex: 0 1 200px;
	width: 200px; 
	height: 200px;
}

.d200 {
	width: 200px;
}
.bg, .overlay {
text-align: center;
transition: .3s all;
}

.bg:hover .overlay {
	opacity: 1;
}

.bg:hover img {
	-webkit-filter: blur(2px);
	filter: blur(2px);
}

.bg .overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.2);
	color: #fff;
	opacity: 0;
}

.overlay > h2 {
	padding-top: 20%;
	font-family: 'Roboto Slab', serif;
	font-size: 1.25em
}
.bg {
	float: left;
	max-width: 200px;
	position: relative;
}
